[View in Colaboratory](https://colab.research.google.com/github/cuevas1208/ML_Notes_and_Research/blob/master/Tensorflow_%22if%22_statement.ipynb)

In [1]:
import tensorflow as tf

# Placeholder variables
a = tf.Variable([[1, 1], [1, 1]], dtype=tf.float32, name="a")
b = tf.Variable([[2, 2], [2, 2]], dtype=tf.float32, name="b")
training_mode = tf.placeholder_with_default(False, [], name=None)

# augment while training
val_if_false = a
val_if_true = tf.matmul(a, b, name="op_matmul")
multiplication = tf.where(training_mode, val_if_true, val_if_false)

# initialize session
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    # training
    results = sess.run(multiplication, feed_dict={training_mode: True})

    print("true", results)

    # training
    results = sess.run(multiplication, feed_dict={training_mode: False})

    print("false", results)

('true', array([[4., 4.],
       [4., 4.]], dtype=float32))
('false', array([[1., 1.],
       [1., 1.]], dtype=float32))